@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* Global style accross web page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
    background-color: #4192BE;
}

/* Heading style rules */
#heading{
    font-family: Nunito, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-top: 1em;
}


/* Calculator and main page body (div main-container) style rules */

#calculator {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #41BEAC;
}
.main-container {
    background-color: #4153BE;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(6, 80px);
    border: 10px solid black;
    border-radius: 6px;
    position: relative;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(6, 80px); 
    border-radius: 6px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

/* Global Button style rules */



button {
    font-family: Nunito, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    color: black;
    margin: 4px;
    border-radius: 50%;
    background: linear-gradient(180deg, #4197BE, #8794dd);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
}


/* Button specific style rules */
#addition {
    height: 150px;
}

.delete  {
    font-size: 1em;
}



/* Screen/diplay style rules */
.display {
    background-color: #f2f1f2;
    font-family: Nunito, sans-serif;
    display: flex;
    font-size: 3em;
    color: black;
    grid-column: 1 / 5;
    justify-content: flex-end;
    border-radius: 4px;
    padding-right: 8px;
    margin: 1px;
}


/* Styling of footer element */
.footer {
    font-family: Nunito, sans-serif;
    font-size: 0.5em;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: justify;
}

/* Media Queries for large to medium screens - 1200px wide */

@media screen and (max-width: 1200px) {
    #heading {
        width: 100%;
        height: 100px;
        margin: 0;
    }
    
    #calculator {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    .footer {
        float: left;
    }
}