@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* Global style accross web page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
    background-color: #4192BE;
}


/* Calculator and button style rules */

#calculator {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: aquamarine;
}
.main-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(6, 80px);
    border: 10px solid black;
    border-radius: 6px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

/* Button style rules */
button {
    color: blueviolet;
    position: relative;
    display: grid;
    width: 80px;
    place-items: center;
    margin: 8px;
    height: 80px;
    background: linear-gradient(180deg, green, orange);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
}

/* Screen/diplay style rules */

.display {
    background-color: red;
    font-family: Nunito, sans-serif;
    display: flex;
    font-size: 3em;
    color: white;
    grid-column: 1 / 5;
    justify-content: flex-end;
    border-radius: 4px;
    padding-right: 8px;
    margin: 4px;
}


/* Styling of footer element */
.footer {
    font-family: Nunito, sans-serif;
    font-size: 0.5em;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: justify;
}