@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* Global style accross web page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
    display: flex;
    
}